<div class="center jumbotron">
  <h1>Mini Bookingsync App.</h1>

  <h2>
    Mini Bookingsync App is a JSON API sample project built with <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </h2>
    <%= link_to "Book now!", book_a_rental_path, class: "btn btn-lg btn-primary" %> <br />
    <%= link_to "I would like to add some fabulous rentals, please!", new_rental_path %>
</div>