<div class="center jumbotron rounded-0">
  <h1>Mini Bookingsync App.</h1>

  <h2>
    Mini Bookingsync App is a JSON API sample project built with <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </h2>

</div>